<div class="container">
  <div class="upperbody">
    <!-- <img src="https://wallpaperaccess.com/full/1761719.jpg" alt="coldtempimg" *ngIf= "14 > 15">
    <img src="https://assets.materialup.com/uploads/452999b8-f439-4e92-8160-bcd5a1f5f282/preview.gif" alt="coldtempimg" *ngIf= "9 < 10"> -->
    <div class="weather-data">
      <div class="location">Vizag</div>
      <div class="temperature">{{14.40 | number: '1.0-0'}}°C</div>
  </div>
</div>
<div class="lowerbody">
  <div class="add-info-label">
    Additional Information
  </div>
  <div class="add-info-container">
    <div class="info-block">
      
    </div>
  </div>
</div>
</div>